/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  /* ------ Base Styles ------ */

  :root {
    --offBlack: #202322;
    --offGray: #e2e3ed;
    --Green: #527158;
    --formGray: #e1e2ea;
    --darkGray: #b1b2b8;
    --offGreen: #2a423a;
    --grayish: #3a3a3a;
  }

  html {
    font-size: 1.25rem;
    font-family: "Open sans", sans-serif;
    line-height: 1.4;
  }

  body {
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
  }

  ul li {
    list-style-type: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Poppins", sans-serif;
    margin: 0;
  }

  figure {
    margin: 0;
  }

/* ======== HOME PAGE STYLES ======== */

  /* ------ Header Styles ------ */
  .header {
    background-color: var(--offBlack);
  }

  .header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 220px;
    margin: auto;
    padding-top: 0.8rem;
  }

  .logo {
    width: 220px;
    margin-bottom: 0.6rem;
  }

  .nav__border {
    border-bottom: 1px solid var(--grayish);
    width: 350px;
    left: -65px;
    position: relative;
  }

  .nav__menu {
    margin: 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.9rem 0 0.9rem 0;
  }

  .nav__menu-list:nth-child(2) {
    padding-left: 3rem;
  }

  .nav__menu-list a {
    color: var(--offGray);
  }

  /* ----- Hero Styles ----- */
  .hero__wrapper {
    height: 500px;
    position: relative;
    background-image: url("../img/jake-melara-30679-unsplash_mh3m38_c_scale\,w_1400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .hero__title {
    margin: 0;
    font-size: 1.8rem;
    color: var(--offGray);
    line-height: 1.3;
    padding-left: 1rem;
    padding-top: 2.75rem;
    /* font-family: "Poppins", sans-serif; */
  }

  /* ----- CTA Styles ----- */
  .cta {
    background-color: var(--Green);
  }

  .cta__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    row-gap: 1.75rem;
    padding: 1.5rem 1rem 2.7rem 1rem;
    color: var(--offGray);
  }

  .cta__title,
  .cta__content p {
    margin: 0;
  }

  .cta__title {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .cta__content p {
    font-size: 0.7rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label,
  .button {
    font-family: "Poppins", sans-serif;
  }

  input {
    margin: 0.85rem 0 0.9rem 0;
    flex: 1;
    padding: 0.6rem 0 0.6rem 0.75rem;
    border: none;
    background-color: var(--formGray);
  }

  input::placeholder {
    font-size: 0.7rem;
    font-style: italic;
  }

  .button {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.75rem 1rem;
    border: none;
    text-transform: uppercase;
    color: var(--offGray);
    background-color: var(--offGreen);
  }

  /* ----- Amenities Styles ----- */
  .amenities {
    background-image: url("../img/rawpixel-800820-unsplash1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: var(--offGray);
  }

  .amenities__title {
    margin: 0;
    /* font-family: "Poppins", sans-serif; */
    padding: 2.5rem 1rem 3.5rem 1rem;
    line-height: 1.2;
  }

  .amenities__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 3rem;
    padding-bottom: 3.3rem;
  }

  .amenity p {
    font-size: 0.7rem;
    width: 10.25rem;
    margin: auto;
  }

  .fraction {
    font-size: 0.6rem;
  }

  .amenity img {
    margin-bottom: 1.95rem;
  }
  
  /* ----- Review Styles ----- */
  .review {
    background-color: var(--offGreen);
    color: var(--offGray);
  }

  .review__title {
    margin: 0;
    /* font-family: "Poppins", sans-serif; */
    padding: 2.6rem 1rem 1.3rem 1rem;
  }
  
  .review__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    padding-bottom: 2.2rem;
    column-gap: 1rem;
  }

  .review__team-pic {
    padding: 0 1rem;
  }

  .review__team-pic img {
    width: 100%;
  }

  .review__content {
    padding: 0 1.1rem 0 1rem;
  }

  /* .review__content-title {
    font-family: "Poppins", sans-serif;
  } */

  .review__content p {
    font-size: 0.7rem;
  }

  /* ----- Footer Styles ----- */
  .footer {
    background-color: var(--offBlack);
    color: var(--offGray);
  }

  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 2.6rem;
  }

  .footer__titles,
  .footer__wrapper p,
  .social-links {
    margin: 0;
  }

  .footer__titles {
    /* font-family: "Poppins", sans-serif; */
    font-size: 0.9rem;
    margin-bottom: 1.01rem;
    color: #fff;
  }

  .footer__tel a,
  .footer__email a,
  .social-links li a {
    color: var(--offGray);
    
  }

  .footer__tel a,
  .footer__email a {
    font-size: 0.7rem;
  }

  .footer__tel,
  .footer__email {
    line-height: 0.9;
  }

  .footer__social {
    margin: 2.5rem 0 2.5rem 0;
  }

  .social-links {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .social-links li {
    border-radius: 100%;
    font-size: 0.9rem;
    background-color: var(--Green);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-links li:nth-child(2),
  .social-links li:nth-child(3) {
    margin-left: 2.05rem;
  }

  .copyright-info {
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
    color: #fff;
  }

/* ======== FAQ PAGE STYLES ======== */
  
  /* ------ FAQ Content Styles ----- */
  .faq {
    background-color: var(--Green);
    color: var(--offGray);
  }

  .faq__wrapper {
    padding: 2.5rem 1rem 2.3rem 1rem;
  }

  .faq__content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
  }

  .faq__title,
  .faq__question {
    margin: 0;
    /* font-family: "Poppins", sans-serif; */
  }

  .faq__title {
    font-size: 1.5rem;
    line-height: 1;
  }

  .faq__question {
    font-size: 0.9rem;
    line-height: 1.34;
    margin-top: 2.3rem;
  }

  .faq__content p {
    font-size: 0.7rem;
    line-height: 1.3;
  }

/* ======== ABOUT PAGE STYLES ======== */

  /* ----- About Content Styles ----- */

  .mission {
    color: var(--offGray);
    background-color: var(--Green);
  }

  .mission__wrapper,
  .contact__wrapper {
    margin: 0 1rem;
    padding: 2.5rem 0;
  }

  .mission__title,
  .contact__title {
    font-size: 1.5rem;
    letter-spacing: -1px;
  }

  .mission__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
  }

  .mission__content p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }

  /* .location figure {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
  }

  .location iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  } */

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .contact {
    background-color: var(--offGreen);
    color: var(--offGray);
  }

  .contact__details {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 2rem;
  }

  .contact__col1 h3 {
    font-size: 0.9rem;
    color: #fff;
  }

  .contact__col1 p { 
    font-size: 0.7rem;
    margin: 0;
  }

  .contact__col1 a {
    color: var(--offGray);
  }

  .contact__col1 p:nth-child(2) {
    padding-top: 0.75rem;
  }

  address {
    margin: 0.75rem 0;
  }

  
  


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 640px) {
  /* Style adjustments for viewports that meet the condition */

  /* ====== Home Page Styles (Tablet) ====== */
  .header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 2rem;
    padding: 1.5rem 0 
  }

  .logo {
    margin-bottom: 0;
  }

  .nav__border {
    display: none;
  }

  .nav__menu {
    padding: 0;
    align-items: center;
  }

  .nav__menu-list:nth-child(2) {
    padding-left: 2rem;
  }

  .hero__title {
    padding-left: 2rem;
    font-size: 2.2rem;
  }

  .cta__wrapper {
    padding: 1.5rem 2rem 2.7rem 2rem;
    column-gap: 1rem;
  }

  .cta__title {
    font-size: 1.1rem;
  }

  .amenities__title {
    padding: 2.5rem 1rem 3.5rem 2rem;
  }

  .review__wrapper {
    row-gap: 1rem;
    padding: 0 2rem 2.2rem 2rem;
  }

  .review__title {
    padding: 2.6rem 1rem 1.3rem 2rem;
  }

  .review__team-pic {
    padding: 0;
  }

  .review__content {
    padding: 0;
  }

  .copyright-info {
    grid-column: 1 / 3;
    padding-top: 2.35rem;
  }

  /* ===== FAQ Page Styles (Tablet) ===== */
  .faq__wrapper {
    padding: 2.5rem 2rem 2.3rem 2rem;
  }

  /* ===== About Page Tablet Styles ===== */
  .mission__wrapper,
  .contact__wrapper {
    margin: 0 2rem;
    padding: 4.7rem 0;
  }

  .mission__title,
  .contact__title {
    font-size: 1.8rem;
    letter-spacing: 0;
    margin-bottom: 1.8rem
  }

  .mission__content {
    column-gap: 2rem;
  }

  .mission__content p br {
    display: none;
  }

}

@media only screen and (min-width: 768px) {
  /* ===== Home Page Tablet Styles ====== */
  .header__wrapper {
    margin: 0 3.2rem;
    
  }

  .nav__menu {
    font-size: 0.8rem;
  }

  .hero__title {
    padding-left: 3.2rem;
    font-size: 2.4rem;
  }

  .hero__wrapper {
    background-position: center;
  }

  .cta__wrapper {
    padding: 1.5rem 3.2rem 2.7rem 3.2rem;
    column-gap: 1.5rem;
  }

  .cta__title {
    font-size: 1.2rem;
    line-height: 1.25;
    margin-bottom: 1rem;
  }

  .cta__content p {
    padding-right: 2.5rem;
  }

  label {
    font-size: 1.2rem;
    line-height: 1.25;
  }

  .amenities__title {
    padding: 4.85rem 1rem 3.5rem 3.2rem;
    font-size: 1.8rem;
    line-height: 1.34;
  }

  .review__title {
    padding: 5.05rem 7rem 1.3rem 3.2rem;
    font-size: 1.8rem;
  }

  .review__wrapper {
    row-gap: 0.1rem;
    padding: 0 3.2rem 5.05rem 3.2rem;
  }

  .review__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    column-gap: 0.5rem;
    padding: 0 3.2rem 5.05rem 3.2rem;
  }

  .review__content-title {
    font-size: 1.2rem;
    line-height: 1.25;
  }

  .footer__titles {
    font-size: 1.2rem;
  }

  /* ===== FAQ Page Tablet Styles ===== */
  .faq__title {
    font-size: 1.8rem;
    line-height: 1.334;
  }

  .faq__wrapper {
     padding: 4.7rem 3.2rem 5rem 3.2rem;
  }

  .faq__content-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 2.1rem;
  }

  .faq__question {
    font-size: 0.7rem;
  }  

  /* ===== About Page Tablet Styles ===== */
  .mission__wrapper,
  .contact__wrapper {
    margin: 0 3.2rem;
  }

  .contact__title {
    width: 90%;
  }


  .contact__col1 h3 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 958px) {
  /* ===== Home Page Desktop Styles  ===== */
  .review__content p {
    font-size: 0.8rem;
  }

  .review__content-title {
    font-size: 1.4rem;
  }

  .footer__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

@media only screen and (min-width: 1078px) {
/* ===== Home Page Desktop Styles  ===== */
  .review__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }

  /* ===== FAQ Page Desktop Styles ===== */
  .faq__content-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: 2.2rem;
  }

  /* ===== About Page Desktop Styles ===== */
  .mission__content {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .contact__details {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}


@media only screen and (min-width: 1200px) {
  /* ===== Home Page Desktop Styles  ===== */
  .hero__title {
    font-size: 2.7rem;
  }

  .cta__wrapper {
    column-gap: 2.2rem;
    max-width: 900px;
    margin: auto;
  }
  
  .cta__title {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }
  
  .cta__content p {
    padding-right: 6.5rem;
    font-size: 0.9rem;
    line-height: 1.34;
  }
  
  form {
    margin-left: 1.5rem;
  }
  
  label {
    font-size: 1.5rem;
  }

  .amenities__title {
    padding: 4.85rem 1rem 3.5rem 6.2rem;
    width: 70%;
  }

  .amenities__wrapper {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 4.5rem;
  }

  .review__title {
    padding: 5.05rem 7rem 4.3rem 6.2rem;
  }

  .review__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    column-gap: 1rem;
    padding: 0 6.2rem 5.05rem 6.2rem
  }
  
  /* ===== FAQ Page Desktop Styles ===== */
  .faq__title {
    font-size: 2rem;
  }

  .faq__question {
    font-size: 0.8rem;
  }

  .faq__content p {
    font-size: 0.8rem;
    padding-right: 4rem;
  }

  /* ===== FAQ Page Desktop Styles ===== */
  .mission__title,
  .contact__title {
    font-size: 2rem;
  }

  .mission__content {
    column-gap: 2.3rem;
  }

  .mission__content p {
    font-size: 0.8rem;
    padding-right: 2rem;
  }

  .contact__col1 h3 {
    font-size: 1.4rem;
  }

  .contact__col1 p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1300px) {
  /* ===== Hero Page Desktop Styles ===== */
  .header__wrapper {
    max-width: 1100px;
    margin: auto;
  }

  .nav__menu {
    font-size: 0.9rem;
  }

  .nav__menu-list:nth-child(2) {
    padding-left: 1.6rem;
  }

  .hero__wrapper {
    height: 605px;
  }

  .hero__title {
    padding-left: 6.2rem;
    font-size: 3rem;
    width: 60%;
  }

  .review__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    max-width: 1100px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    column-gap: 2rem;
  }

  .review__content-title {
    font-size: 1.5rem;
    width: 60%;
  }
  
  .review__content p {
    font-size: 0.9rem;
    padding-right: 5.5rem;
    line-height: 1.34;
  }
  
  /* ===== FAQ Pages Desktop Styles ===== */
  .faq__wrapper {
    padding: 4.65rem 6.2rem 5rem 6.2rem;
  }

  .faq__title {
    font-size: 2.4rem;
    letter-spacing: -0.9px;
  }

  .faq__question {
    font-size: 0.9rem;
  }

  .faq__content p {
    font-size: 0.9rem;
    line-height: 1.2;
    padding-right: 5rem;
  }

  /* ===== About Pages Desktop Styles ===== */
  .mission__wrapper,
  .contact__wrapper {
    margin: 0 6.2rem;
  }

  .mission__title,
  .contact__title {
    font-size: 2.4rem;
    width: 80%;
  } 

  .contact__title {
    width: 100%;
  }

  .mission__content {
    column-gap: 2.5rem;
  }

  .mission__content p {
    font-size: 0.9rem;
    padding-right: 3rem;
  }
  
  .contact__col1 h3 {
    font-size: 1.8rem;
  }

  .contact__col1 p {
    font-size: 0.9rem;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

